<div class="container-fluid h-custom ">
    <div class="row d-flex justify-content-center h-100">

        <section class="col-12 py-5 bg-light">
            <div class="row py-5 px-4 px-lg-5 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h1 class="text-uppercase mb-0">Login</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a class="hero" routerLink="">Home</a></li>
                            <li class="breadcrumb-item text-muted" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        
        <div class="col-md-12 col-lg-6 my-5">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
                <div class="form-outline my-2">
                    <label class="form-label my-3" for="inputEmail">Email address <span class="text-danger">*</span></label>
                    <input id="inputEmail" type="email" class="form-control form-control-lg" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter a valid email address"
                        autofocus>
            
                    <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                        <h3 class="text-danger" *ngIf="f.email.errors.required">E-mail is
                            required</h3>
                        <h3 class="text-danger" *ngIf="f.email.errors.email">E-mail not valid
                        </h3>
                    </div>
                </div>
            
                <div class="form-outline my-2">
                    <label class="form-label my-3" for="inputPassword">Password <span class="text-danger">*</span></label>
                    <input id="inputPassword" type="password" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Password" required
                        class="form-control form-control-lg"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <h3 class="text-danger" *ngIf="f.password.errors.required">Password is required</h3>
                        <h3 class="text-danger" *ngIf="registerForm.controls['password'].errors?.['minlength']">Minlengthis 8
                            characters
                        </h3>
                        <h3 class="text-danger" *ngIf="registerForm.controls['password'].errors?.['pattern']">Minimum eight
                            characters, at least one letter, one number and one special character
                        </h3>
                    </div>
                </div>
            
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-dark w-100">
                        Login
                    </button>
                    <h4 class="mt-2 pt-1 mb-0">
                        Don't have an account?
                        <a [routerLink]="'/register'" class="link-dark fw-bold m-2">Register</a>
                    </h4>
                </div>
            </form>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6 d-flex align-items-center justify-content-center imgParent">
            <img src="../../../../assets/images/Mobile login-pana.png" alt="Sample image" height="400rem" />
        </div>

    </div>



</div>