<div class="container-lg g-1 g-md-2">
  <section class="col-12 py-5 bg-light">
    <div class="row py-5 px-4 px-lg-5 align-items-center">
      <div class="col-lg-6 col-md-6">
        <h1 class="text-uppercase mb-0">{{ "new password" | translate }}</h1>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item">
              <a class="hero" routerLink="">{{ "home" | translate }}</a>
            </li>
            <li class="breadcrumb-item text-muted" aria-current="page">
              {{ "New password" | translate }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  <div class="container w-100 d-flex justify-content-center">
    <section
      class="row my-5 w-50 align-items-center justify-content-center main"
    >
      <p class="mt-4 text-center h6">New password</p>

      <form class="w-75" [formGroup]="NewPassForm" (ngSubmit)="onSubmit()">
        <div class="form-outline my-3">
          <label class="form-label h6 mb-2" for="password">
            {{ "Password" | translate }} <span class="text-danger">*</span>
          </label>
          <input
            type="password"
            id="password"
            class="form-control my-2 d-block"
            formControlName="password"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            autofocus
            placeholder=" {{ 'Enter your password' | translate }} "
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />

          <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
            <h3 class="text-danger" *ngIf="f.password.errors.required">
              {{ "Required" | translate }}
            </h3>

            <h3
              class="text-danger"
              *ngIf="NewPassForm.controls['password'].errors?.['pattern']"
            >
              {{
                "Minimum 8 characters, at least one letter, one number and one special character"
                  | translate
              }}
            </h3>
          </div>
        </div>

        <div class="form-outline my-3">
          <label class="form-label h6 my-2" for="password_confirmation">
            {{ "Confirm Password" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            type="password"
            id="password_confirmation"
            class="form-control my-2 d-block"
            formControlName="password_confirmation"
            placeholder=" {{ 'Repeat your password' | translate }} "
            [ngClass]="{
              'is-invalid': submitted && f.password_confirmation.errors
            }"
          />

          <div
            *ngIf="submitted && f.password_confirmation.errors"
            class="invalid-feedback"
          >
            <h3 *ngIf="f.password_confirmation.errors.required">
              {{ "Required" | translate }}
            </h3>
            <h3 *ngIf="f.password_confirmation.errors.mustMatch">
              Passwords must match
            </h3>
          </div>
        </div>

        <button type="submit" class="btn btn-dark w-100 mt-4 mb-4 d-block">
          Verify
        </button>
      </form>
    </section>
  </div>
</div>
