<section class="col-12 py-5 bg-light">
    <div class="row py-5 px-4 px-lg-5 align-items-center">
        <div class="col-lg-6 col-md-6">
            <h1 class="text-uppercase mb-0"> {{'New password' | translate}} </h1>
        </div>
        <div class="col-lg-6 col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a class="hero" routerLink="">{{'Home' | translate}}</a></li>
                    <li class="breadcrumb-item text-muted" aria-current="page">{{'New password' | translate}}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">

        <!-- password input -->
        <div class="form-outline">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="Password"> {{'PASSWORD' | translate}} </label> <br>
                <input id="Password" type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    class="form-control form-control-lg"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <h4 class="text-danger" *ngIf="f.password.errors.required"> {{'required' | translate}} </h4>
                    <h4 class="text-danger" *ngIf="newPasswordForm.controls['password'].errors?.['pattern']"> {{'Minimum 8 characters, Max 24 characters. at least one letter, one number and one special character' | translate}} </h4>
                </div>
            </div>
        </div>

        <!-- confirm password input -->
        <div class="form-outline">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="confirmPassword"> {{'confirm Password' | translate}} </label> <br>
                <input id="confirmPassword" type="password" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    class="form-control form-control-lg"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <h4 class="text-danger" *ngIf="f.confirmPassword.errors.required"> {{'required' | translate}} </h4>
                    <h4 class="text-danger" *ngIf="newPasswordForm.controls['confirmPassword'].errors?.['pattern']"> {{'Minimum 8 characters, Max 24 characters. at least one letter, one number and one special character' | translate}} </h4>
                </div>
            </div>
        </div>

        <!-- submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-dark">{{'Submit' | translate}}</button>
        </div>

    </form>
</main>