
h1{
    color: #111;
    font-size: 1.8rem;
    font-weight: 600;
}
a.hero{
    font-size: 1.2rem;
    text-decoration: none;
    color: #111111;
}
li{
    font-size: 1.2rem;
}

label{
    font-size: 1rem;
}
input{
    font-size: 0.8rem;
}

section{
    border-radius: 10px;
    background: #F8F9FA;
}
