<a [routerLink]="'../shop'">
    <h1 class="text-uppercase mb-4" id="cate" (click)="allProducts()"><strong> {{'Categories' | translate}} </strong></h1>
</a>
<div class="cate" *ngFor="let Category of Categories">
    <h3 class="py-2 px-4 bg-dark text-white mb-3">
        <strong class="text-uppercase"> {{Category.name}} </strong>
    </h3>
    <ul class="list-unstyled text-muted pl-lg-4 font-weight-normal" >
        <li class="mb-2 mx-4" *ngFor="let subCategory of Category.children">
            <input class="text-muted cate" readonly value="{{subCategory.name}}" (click)="filterDataByCate(subCategory.slug)" >
        </li>
    </ul>
</div>
<ul class="list-unstyled text-muted pl-lg-4 font-weight-normal mt-4">
    <h1 class="text-uppercase mb-2" id="cate"><strong> {{'Tags' | translate}} </strong></h1>
        <li class="mb-2 mx-4" *ngFor="let Tag of Tags">
        <input class="text-muted cate" readonly value="{{Tag.name}}" (click)="filterDataByTags(Tag.slug)">
    </li>
</ul>

<!-- <div class="valuerange">
    <h1 class="text-uppercase mb-4"><strong> {{'Price range' | translate}} </strong></h1>
    <div class="row mt-2 ">
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" class="my-5  ">
        </ng5-slider>
    </div>
</div>
<div class="show mb-4 ">
    <h1 class="text-uppercase mb-4"><strong> {{'Show only' | translate}} </strong></h1>
    <div class="form-check mb-2 d-flex align-items-center mx-4">
        <input class="form-check-input p-2 me-3" id="customCheck2" type="checkbox">
        <label class="form-check-label" for="customCheck2"> {{"Returns Accepted" | translate}} </label>
    </div>
    <div class="form-check mb-2 d-flex align-items-center mx-4">
        <input class="form-check-input p-2 me-3" id="customCheck3" type="checkbox">
        <label class="form-check-label" for="customCheck3"> {{"Completed Items" | translate}} </label>
    </div>
    <div class="form-check mb-2 d-flex align-items-center mx-4">
        <input class="form-check-input p-2 me-3" id="customCheck4" type="checkbox">
        <label class="form-check-label" for="customCheck4"> {{'Sold Items' | translate}} </label>
    </div>
    <div class="form-check mb-2 d-flex align-items-center mx-4">
        <input class="form-check-input p-2 me-3" id="customCheck5" type="checkbox">
        <label class="form-check-label" for="customCheck5"> {{'Deals & Savings' | translate}} </label>
    </div>
    <div class="form-check mb-2 d-flex align-items-center mx-4">
        <input class="form-check-input p-2 me-3" id="customCheck6" type="checkbox">
        <label class="form-check-label" for="customCheck6"> {{'Authorized Seller' | translate}} </label>
    </div>
</div>
<div class="buyingFormat mb-4">
    <h1 class="text-uppercase mb-4"><strong> {{'Buying format' | translate}} </strong></h1>
    <div class="form-check mx-4">
        <input class="form-check-input p-2 me-3" id="customRadio1" type="radio" name="customRadio">
        <label class="form-check-label" for="customRadio1"> {{'All Listings' | translate}} </label>
    </div>
    <div class="form-check mx-4">
        <input class="form-check-input p-2 me-3" id="customRadio2" type="radio" name="customRadio">
        <label class="form-check-label" for="customRadio2"> {{'Best Offer' | translate}} </label>
    </div>
    <div class="form-check mx-4">
        <input class="form-check-input p-2 me-3" id="customRadio3" type="radio" name="customRadio">
        <label class="form-check-label" for="customRadio3"> {{'Auction' | translate}} </label>
    </div>
    <div class="form-check mx-4">
        <input class="form-check-input p-2 me-3" id="customRadio4" type="radio" name="customRadio">
        <label class="form-check-label" for="customRadio4"> {{'Buy It Now' | translate}} </label>
    </div>
</div>-->