<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                            <form [formGroup]="registerForm" (ngSubmit)="handelFormSubmit()" class="mx-1 mx-md-4">

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="fullName" class="form-control" formControlName="fullName">
                                        <label class="form-label" for="fullName">Your Name</label>
                                        <div id="fullName" class="form-text text-danger" *ngIf="registerForm.controls['fullName'].touched && registerForm.controls['fullName'].invalid">
                                            <small class="text-danger" *ngIf="registerForm.controls['fullName'].errors?.['required']">fullName is required</small>
                                            <small class="text-danger" *ngIf="registerForm.controls['fullName'].errors?.['minlength']">Minlength is 3 characters </small>
                                            <small class="text-danger" *ngIf="registerForm.controls['fullName'].errors?.['maxlength']">maxlength is 20</small>
                                            <small class="text-danger" *ngIf="registerForm.controls['fullName'].errors?.['pattern']">Name is Not Valid</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="email" id="email" class="form-control" formControlName="email" />
                                        <label class="form-label" for="email">Your Email</label>
                                        <div id="email" class="form-text text-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
                                            <small class="text-danger" *ngIf="registerForm.controls['email'].errors?.['required']">email is required</small>
                                            <small class="text-danger" *ngIf="registerForm.controls['email'].errors?.['pattern']">Email is Not Valid</small>

                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="password" id="password" class="form-control" formControlName="password" />
                                        <label class="form-label" for="password">Password</label>
                                        <div id="password" class="form-text text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">
                                            <small class="text-danger" *ngIf="registerForm.controls['password'].errors?.['required']">password is required</small>
                                            <small class="text-danger" *ngIf="registerForm.controls['password'].errors?.['minlength']">Minlength is 6 characters </small>
                                            <small class="text-danger" *ngIf="registerForm.controls['password'].errors?.['maxlength']">maxlength is 20</small>
                                            <small class="text-danger" *ngIf="registerForm.controls['password'].errors?.['pattern']">Password is Not Valid</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" />
                                        <label class="form-label" for="confirmPassword">Repeat your password</label>
                                        <div id="confirmPassword" class="form-text text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['confirmPassword'].invalid">
                                            <small class="text-danger" *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">confirmPassword is required</small>
                                            <small class="text-danger" *ngIf="registerForm.controls['confirmPassword'].errors?.['pattern']">Password is Not Match</small>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <small class="mx-3"> IF You Have Acoount </small> <a routerLink="../login">Log in</a>
                                </div>

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="registerForm.invalid">Register</button>
                                </div>

                            </form>

                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <img src="../../../assets/register.jpg" alt="Sample image" width="350px" height="350px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>