      <footer class="bg-dark text-white">
        <div class="container py-5">
          <div class="row p-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#">Help &amp; Contact Us</a></li>
                <li><a class="footer-link text-muted" href="#">Returns &amp; Refunds</a></li>
                <li><a class="footer-link text-muted" href="#">Online Stores</a></li>
                <li><a class="footer-link text-muted" href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#">What We Do</a></li>
                <li><a class="footer-link text-muted" href="#">Available Services</a></li>
                <li><a class="footer-link text-muted" href="#">Latest Posts</a></li>
                <li><a class="footer-link text-muted" href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#">Twitter</a></li>
                <li><a class="footer-link text-muted" href="#">Instagram</a></li>
                <li><a class="footer-link text-muted" href="#">Tumblr</a></li>
                <li><a class="footer-link text-muted" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row px-5">
                <p class="text-muted mb-0">&copy; 2020 All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>