nav{
    line-height: 3.5rem;
}
.brand{
        font-size: 2rem;
            font-weight: 300;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.brand:hover {
    color: skyblue;
}
.nav-link{
    font-size: 1rem;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
    color: skyblue;
}
.dropdown-item{
    line-height: 1.5rem;
    width: 100%;
    font-size: 0.8rem;
}
.dropdown-item:hover {
    background-color:skyblue ;
}

.navbar .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: .2s ease all;
}