span {
    margin: 0 0.5em;
}

button {
    background-color: transparent;
    border: none;
    color: gray;
    border: 0 solid gray;
}

button:hover {
    color: black;
}

button:focus {
    color: black;
}