h1{
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 1.2;
    color: #111111;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
span , strong{
  letter-spacing: 0.1em; 
}
.quantity {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: inherit;
}
.quantity input {
  width: 2rem;
  text-align: center;
}
.quantity button {
  background: none;
  border: none;
  width: 1.5rem;
  outline: none;
}
ul{
  padding: 0;
}
ul li i{
  color: #111111;
  font-size: 1rem;
}

.gallrey .left{
  display: flex;
  flex-direction: column;
  width: 20%;;
}
.gallrey .left img{
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}
.gallrey .right {
  width: 80%;
}
.gallrey .right img{
  width: 100%;
  height: 100%;
}