<div class="row pt-5">
    <div class="col-lg-6 my-3 h-100">
        <!-- PRODUCT SLIDER-->

        <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-sm-0 w-100">
            <div class="row gallrey">
                <div class="col-3 left" >
                    <img src="../../../assets/images/products/{{image.file_name}}" alt="product image" (click)="imageClick(image.file_name)" *ngFor="let image of images ; let i = index">
                </div>
                <div class="col-8 right">
                    <img src="../../../assets/images/products/{{DefaultImage}}" alt="product default image">

                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-6 mt-3">

        <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5" class="p-0 my-3" style="font-size: 1.5rem;">
        </ngb-rating>

        <h1>{{data.name}}</h1>
        <h2 class="text-muted lead">${{data.price}}</h2>
        <p class="text-small mb-4">{{data.description}}</p>

        <div class="row align-items-stretch mb-4">

            <div class="col-sm-5 pr-sm-0">
                <div class="border d-flex align-items-center justify-content-between py-1 px-3 bg-white border-white">
                    <span class="text-uppercase text-gray me-4 no-select"> {{'Quantity' | translate}} </span>
                    <div class="quantity">
                        <button class="dec-btn p-0" (click)="minus()"><i class="fas fa-caret-left"></i></button>
                        <input class="form-control border-0 shadow-0 p-0" type="text" [value]="quentity">
                        <button class="inc-btn p-0" (click)="plus()"><i class="fas fa-caret-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pl-sm-0">
                <a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
                    href="cart.html"> {{'Add to cart' | translate}} </a>
            </div>
        </div>

        <a class="btn btn-link text-dark p-0 mb-4" href="#">
            <i class="far fa-heart fa-1x me-2"></i>
            {{'Add to Favorite' | translate}}
        </a><br>

        <ul class="list-unstyled  d-inline-block">

            <li class="px-3 py-2 mb-1 bg-white">
                <strong class="text-uppercase">SKU:</strong>
                <span class="ms-2 text-muted">039</span>
            </li>

            <li class="px-3 py-2 mb-1 bg-white">
                <strong class="text-uppercase text-dark"> {{'Categories' | translate}}: </strong>
                <a class="reset-anchor ms-2 text-muted" href="#"
                    style="text-decoration: none;">{{data.product_category.name}}</a>
            </li>

            <li class="px-3 py-2 mb-1 bg-white">
                <strong class="text-uppercase text-dark"> {{'Tags' | translate}} :</strong>
                <a class="reset-anchor ms-2 text-muted" href="#" style="text-decoration: none;"
                    *ngFor="let tag of data.tags"> {{tag.name | translate}} </a>
            </li>

        </ul>
    </div>
</div>

