<app-modal></app-modal>

<div class="product text-center">
    <div class="position-relative mb-3">

        <a class="d-block" routerLink="../product-details/{{Product.slug}}">
            <img class="img-fluid" src="../../../../assets/images/products/{{Product.first_media.file_name}}" alt="">
        </a>

        <div class="product-overlay">
            <ul class="mb-0 list-inline">

                <li class="list-inline-item m-0 p-0">
                    <a class="btn btn-sm btn-outline-dark">
                        <i class="fa-heart" [class.far]="!isFavorite" [class.fa]="isFavorite"
                            (click)="onFavoriteClick(Product)">
                        </i>
                    </a>
                </li>
                <li class="list-inline-item mx-2 p-0"><a class="btn btn-sm btn-dark" (click)="add(Product.product_id)"> {{'Add to cart' |
                        translate}} </a>
                </li>


                <li class="list-inline-item ">
                    <a class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fas fa-expand"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h4> <a class="reset-anchor" routerLink="../product-details/{{Product.slug}}">{{Product.name}}</a></h4>
    <!-- <p class="small text-muted fa-1x">{{Product.category.name}}</p> -->
    <!-- <p class="small text-muted fa-1x">{{Product.tags.name}}</p> -->
    <p class="small text-muted fa-1x">${{Product.price}}</p>
</div>