

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
    color: #111111;
    font-size: 1.9rem;
    letter-spacing: 0.1em;
}

a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #111111;
}
li{
    font-size: 1.2rem;
}