<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center h-100">
    <!-- HERO SECTION-->
    <section class="col-12 py-5 bg-light">
      <div class="row py-5 px-4 px-lg-5 align-items-center">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-uppercase mb-0">Profile</h1>
        </div>
        <div class="col-lg-6 col-md-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-end">
              <li class="breadcrumb-item">
                <a class="hero" routerLink="">Home</a>
              </li>
              <li class="breadcrumb-item text-muted" aria-current="page">
                Profile
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <section class="container-lg px-lg-4 my-3">
      <div class="container-lg px-lg-4 g-1 g-md-2">
        <div class="col-lg-8 pt-2">
          <form
            action=""
            method="post"
            enctype="multipart/form-data"
            autocomplete="off"
          >
            <div class="row">
              <div class="col-lg-12 text-center mb-4">
                <img
                  src="../../../../assets/chat&goToTop/profileChat1.png"
                  alt="full_name"
                  class="img-thumbnail"
                  width="120"
                />
                <div class="mt-2">
                  <a
                    href=""
                    class="btn btn-sm btn-outline-danger"
                    >Remove image</a
                  >
                </div>
                <img
                  src=""
                  alt=""
                  class="img-thumbnail"
                  width="120"
                />
              </div>

              <div class="col-lg-6 form-group my-3">
                <label class="text-small text-uppercase my-1" for="first_name"
                  >First name</label
                >
                <input
                  class="form-control"
                  name="first_name"
                  type="text"
                  value=""
                  placeholder="Enter your first name"
                />
                <span class="text-danger">
                  
                </span
                >
              </div>

              <div class="col-lg-6 form-group my-3">
                <label class="text-small text-uppercase my-1" for="last_name"
                  >Last name</label
                >
                <input
                  class="form-control"
                  name="last_name"
                  type="text"
                  value=""
                  placeholder="Enter your last name"
                />
                <span class="text-danger">
                    
                </span
                >
              </div>

              <div class="col-lg-6 form-group my-3">
                <label class="text-small text-uppercase my-1" for="email"
                  >Email address</label
                >
                <input
                  class="form-control"
                  name="email"
                  type="email"
                  value=""
                  placeholder="e.g. Jason@example.com"
                />
                <span class="text-danger"></span
                >
              </div>

              <div class="col-lg-6 form-group my-3">
                <label class="text-small text-uppercase my-1" for="mobile"
                  >Mobile number</label
                >
                <input
                  class="form-control"
                  name="mobile"
                  type="tel"
                  value=""
                  placeholder="e.g. 966512345678"
                />
                <span class="text-danger"></span
                >
              </div>
              <div class="col-lg-6 form-group my-3">
                <label class="text-small text-uppercase d-flex my-1 justify-content-between" for="password"
                  ><span>Password</span>
                  <small class="ml-auto text-danger"> (Optional) </small></label
                >
                <input
                  class="form-control"
                  name="password"
                  type="password"
                />
                <span class="text-danger"></span
                >
              </div>
              <div class="col-lg-6 form-group my-3">
                <label
                  class="text-small text-uppercase d-flex my-1 justify-content-between"
                  for="password_confirmation"
                  ><span>Re-Password</span>
                  <small class="ml-auto text-danger"> (Optional) </small></label
                >
                <input
                  class="form-control"
                  name="password_confirmation"
                  type="password"
                />
                <span class="text-danger">
                  
                </span
                >
              </div>
              <div class="col-lg-12 form-group my-3">
                <label class="text-small text-uppercase my-1" for="user_image"
                  >Image</label
                >
                <input
                  class="form-control"
                  name="user_image"
                  type="file"
                />
                <span class="text-danger">
                  
                </span
                >
              </div>
              <div class="col-lg-12 form-group my-3">
                <button class="btn btn-dark" type="submit">
                  Update profile
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- ORDER SUMMARY-->
        <div class="col-lg-4">
        </div>
      </div>
    </section>
  </div>
</div>
