<div class="px-lg-4 g-1 g-md-2">
  <div class="px-lg-4 g-1 g-md-2">
    <nav class="navbar navbar-expand-lg bg-white">
      <a class="navbar-brand brand" [routerLink]="'/'">Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link py-0 " [routerLink]="'/'"> {{'home' | translate}} </a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link py-0" [routerLink]="'/shop'"> {{'SHOP' | translate}} </a>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto">
          <li *ngIf="isLoggedIn" class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link py-0" routerLink="/cart">
              <i class="fa-solid fa-cart-arrow-down"></i>
              <small class="text-gray"> {{ cartLength }} </small>
            </a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link py-0" routerLink="/favorite">
              <i class="far fa-heart me-1 text-gray"></i>
              <small class="text-gray">{{totalItem}}</small>
            </a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link py-0" routerLink="/login"> {{'LOGIN' | translate}} </a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link py-0" routerLink="/register"> {{'REGISTER' | translate}} </a>
          </li>

          <li *ngIf="isLoggedIn" class="nav-item dropdown">
            <a class="nav-link py-0 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'Username' | translate}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item transition-link" routerLink="/me"><i class="fa fa-user me-3"></i> {{'Profile' | translate}}</a></li>
              <li><a class="dropdown-item transition-link" (click)="onLogOut()"> <i class="fa fa-right-from-bracket me-3"></i> {{'Logout' | translate}} </a></li>
            </ul>
          </li>
          <app-change-language></app-change-language>

        </ul>
      </div>
    </nav>
  </div>
</div>