<div class="container-lg px-lg-4 g-1 g-md-2">
  <div class="container-lg px-lg-4 g-1 g-md-2">
    <nav class="navbar navbar-expand-lg bg-white">
        <a class="navbar-brand brand" routerLink="">Boutique</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link py-0 " routerLink="">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link py-0" [routerLink]="'/shop'">Shop</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link py-0" routerLink="/product-details">Product Details</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link py-0 dropdown-toggle" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Pages
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item transition-link" routerLink="/">Home</a></li>
                <li><a class="dropdown-item transition-link" routerLink="/shop">Category</a></li>
                <li><a class="dropdown-item transition-link" routerLink="/product-details">Product Details</a></li>
                <li><a class="dropdown-item transition-link" routerLink="/cart">Shopping Cart</a></li>
                <li><a class="dropdown-item transition-link" routerLink="/checkout">Checkout</a></li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link py-0" routerLink="/cart"><i class="fas fa-dolly-flatbed text-gray"></i> Cart <small
                  class="text-gray"></small></a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link py-0" routerLink="/faverorite"><i class="far fa-heart me-1 text-gray"></i> <small
                  class="text-gray">(0)</small></a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link py-0" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link py-0" routerLink="/register">Register</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>

</div>

