nav{
    line-height: 3.5rem;
}
.brand{
        font-size: 1.8rem;
        font-weight: 700!important;
        font-family: "Libre Franklin", sans-serif;
        letter-spacing: 0.1em;
}
.brand:hover {
    color: #111111;
}
.nav-link{
    font-size: 1rem;
    font-weight: 600!important;
    font-family: "Libre Franklin", sans-serif;
    letter-spacing: 0.1em;
    cursor:pointer;
}

.nav-link:hover {
    color: #111111;
}
.dropdown-item{
    line-height: 0.9rem;
    width: 100%;
    font-size: 0.8rem;
}
.dropdown-item:hover {
    background-color:#dcb14a ;
}

.navbar .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: .2s ease all;
}

.navbar .dropdown-menu::before {
    content: '';
    display: block;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid skyblue;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
}

.dropdown-item {
    padding: 0.375rem 1.5rem;
    font-weight: 400;
    color: #212529;
    background: #fff;
    font-size: 0.8rem;
    transition: all 0.3s;
        cursor: pointer;
}
.dropdown-item:hover{
    background: #F8F9FA;
}


ul li.active a{
    color: #111111;
    font-size: .9rem;
    border-bottom:3px solid;
    cursor: pointer;
}

@media (min-width: 992px){
    .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    .collapse{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

}

@media (max-width: 1200px){
    .brand{
        font-size: 1.1rem;
        font-weight: 700!important;
        font-family: "Libre Franklin", sans-serif;
        letter-spacing: 0.1em;
}
.brand:hover {
    color: #111111;
}
.nav-link{
    font-size: 0.8rem;
        font-weight: 600!important;
        font-family: "Libre Franklin", sans-serif;
        letter-spacing: 0.1em;
}
}


