<div class="content {{storedTheme}}" role="main">
  
  <app-navbar></app-navbar>

  <div class="theme-options">
    <div class="theme-navyBlue" (click)="setTheme('theme-navyBlue')"></div>
    <div class="theme-lightBlue" (click)="setTheme('theme-lightBlue')"></div>
    <div class="theme-white" (click)="setTheme('theme-white')"></div>
    <div class="theme-burgundy" (click)="setTheme('theme-burgundy')"></div>
    <div class="theme-purple" (click)="setTheme('theme-purple')"></div>
  </div>

  <div class="rightCorner">
    <img src="../assets/chat&goToTop/goToTop.png" class="goToUp" title="go to page top" (click)="goToUp()">
    <a routerLink="/live-chat"> {{'Chat' | translate}} </a>
  </div>

  <div class="container-lg g-1 g-md-2">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</div>