<div class="content {{storedTheme}}" role="main">
  
  <app-navbar></app-navbar>

  <div class="theme-options">
    <div class="theme-yellow" (click)="setTheme('theme-yellow')"></div>
    <div class="theme-lightBlue" (click)="setTheme('theme-lightBlue')"></div>
    <div class="theme-white" (click)="setTheme('theme-white')"></div>
    <div class="theme-lightGreen" (click)="setTheme('theme-lightGreen')"></div>
    <div class="theme-pink" (click)="setTheme('theme-pink')"></div>
  </div>

  <div class="container-lg g-1 g-md-2">
    <router-outlet></router-outlet>
  </div>

  <img src="../assets/chat&goToTop/goToTop.png" class="goToUp" title="go to page top" (click)="goToUp()">
  <button id="chat" (click)="showChatBox=!showChatBox">Chat</button>
  
  <app-live-chat *ngIf="showChatBox"></app-live-chat>

  <app-footer></app-footer>  
</div>