/* start of change theme color */
.theme-options {
    width: fit-content;
    margin: 3rem auto 0rem auto;
    height: 3em;
    text-align: center;
    box-sizing: border-box;
}
.theme-options div {
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: inline-block;
    margin: .5em;
    border-radius: 50%;
    border: 1.5px solid #CFD2CF;
}
.theme-yellow {
    background-color: #feda39b9;
}
.theme-lightBlue {
    background-color: #72dcff;
}
.theme-white {
    background-color: white;
}
.theme-lightGreen {
    background: #5dd2d6;
}
.theme-pink {
    background-color: #ff95ed;
}

/* go to up button */
.goToUp {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background-color: #f8f9fa;
    transition: 0.25s;
    z-index: 1000;
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
}
.goToUp:hover {
    padding: 0px;
}

/* start of chat button */
#chat {
    background-color: #111;
    color: #f8f9fa;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    z-index: 1000;
    position: fixed;
    right: 4.5em;
    bottom: 0.5em;
}