/* start of change theme color */
.theme-options {
    width: fit-content;
    margin: 3rem auto 0rem auto;
    height: 3em;
    text-align: center;
    box-sizing: border-box;
}

.theme-options div {
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: inline-block;
    margin: .5em;
    border-radius: 50%;
    border: 1.5px solid #CFD2CF;
}

.theme-navyBlue {
    background-color: #325288;
}
.theme-lightBlue {
    background-color: #3AB4F2;
}
.theme-white {
    background-color: white;
}
.theme-burgundy {
    background: #7B113A;
}
.theme-purple {
    background-color: #8879B0;
}
/* end of change theme color */

/* start of chat button */
a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    position: fixed;
    left: 92vw;
    top: 87.5vh;
    transition: .25s;
}
a:hover {
    opacity: 0.6;
}
/* end of chat button */