/* rightCorner */
.rightCorner {
    /* max-height: 75%; */
    z-index: 1000;
    position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    flex-direction: column;
}


@media all and (orientation: portrait) {
    .rightCorner {
    right: 0rem;
    bottom: 3rem;
    }
} 

/* start of chat button */
a {
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
}


i{
    cursor: pointer;
    font-size: 1.5rem;
}

/* go to up button */
.goToUp {
    transition: 0.25s;
    border-radius: 50%;
    padding: 1rem;
    background-color: #F8F9FA;
}
/* .goToUp:hover {
    padding: 0px;
} */