.hero{
    background-image:url("../../../../assets/images/sliders/hero-banner-alt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
    min-height: 30rem;
}

h1{
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
        font-weight: 500;
        line-height: 1.2;
        color: black;
        font-size: 2.5rem;
        letter-spacing: 0.1em;
}
p{
    letter-spacing: 0.1rem;
}