      <footer class="bg-dark text-white">
        <div class="container">
          <div class="row pt-5">
            <div class="col-md-4  mb-md-0">
              <h6 class="text-uppercase mb-3"> {{'Customer services' | translate}} </h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Help' | translate}} &amp; {{'Contact us' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Returns' | translate}} &amp; {{'Refunds' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Online Stores' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Terms' | translate}} &amp; {{'Conditions' | translate}} </a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3"> {{'Company' | translate}} </h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'What We Do' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Available Services' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Latest Posts' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'FAQs' | translate}} </a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3"> {{'Social media' | translate}} </h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Twitter' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Instagram' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Facebook' | translate}} </a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> {{'Tumblr' | translate}} </a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <p class="text-muted mb-5">&copy; 2022 {{'All rights reserved.' | translate}} </p>
            </div>
          </div>
        </div>
      </footer>