      <footer class="bg-dark text-white">
        <div class="container">
          <div class="row pt-5">
            <div class="col-md-4  mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Help &amp; Contact Us</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Returns &amp; Refunds</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Online Stores</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> What We Do</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Available Services</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Latest Posts</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Twitter</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Instagram</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Tumblr</a></li>
                <li><a class="footer-link text-muted" href="#"><span>&#10095;</span> Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <p class="text-muted mb-5">&copy; 2022 All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>