<section class="pt-5">
    <header class="text-center">
        <p class="small text-muted small text-uppercase mb-1">
            Carefully created collections
        </p>
        <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
    </header>
    <div class="row">
        <div class="row">
            <div class="col-md-3 mb-4 mb-md-0" *ngFor="let category of categoies ; let i = index">
                <a class="category-item" href="#">
                    <img class="img-fluid" src="{{category.image}}" />
                    <strong class="category-item-title">{{category.title}}</strong>
                </a>
            </div>
        </div>
    </div>
</section>