<div class="container-fluid h-custom ">
    <div class="row d-flex justify-content-center h-100">
        <section class="col-12 py-5 bg-light">
            <div class="row py-5 px-4 px-lg-5 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h1 class="text-uppercase mb-0"> {{'Email verification' | translate}} </h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a class="hero" routerLink="">{{'Home' | translate}}</a></li>
                            <li class="breadcrumb-item text-muted" aria-current="page">{{'Email verification' | translate}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>

        <main>
            <h3> {{'A code was sent to your Email, check your mail and insert the code here to complete registration' | translate}} </h3>
            <form [formGroup]="verifyRegisterForm" (ngSubmit)="onSubmit()">
                <input id="code" type="number" autofocus placeholder="{{'Insert code here' | translate}}" 
                formControlName="code" class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f.code.errors }" autofocus>
                <div *ngIf=" submitted && f.code.errors" class="invalid-feedback">
                    <h4 class="text-danger" *ngIf="f.code.errors.required"> {{'REQUIRED' | translate}} </h4>
                    <h4 class="text-danger" *ngIf="f.code.errors.code"> {{'Code is Not Valid' | translate}} </h4>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-dark">{{'Verify' | translate}}</button>
                </div>

            </form>
        </main>
    </div>
</div>