<div class="container-lg g-1 g-md-2">

<section class="col-12 py-5 bg-light">
    <div class="row py-5 px-4 px-lg-5 align-items-center">
        <div class="col-lg-6 col-md-6">
            <h1 class="text-uppercase mb-0"> {{'reset password' | translate}} </h1>
        </div>
        <div class="col-lg-6 col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a class="hero" routerLink="">{{'home' | translate}}</a></li>
                    <li class="breadcrumb-item text-muted" aria-current="page">{{'Reset password' | translate}}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<div class="container w-100 d-flex justify-content-center">

    <section class="row my-5 w-50 align-items-center justify-content-center">

        <p class="mt-4 text-center h6">
            Please enter your email. You will recieve an email message with reset code.
        </p>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="w-75">

                        <div class="form-outline my-2">
                <label class="form-label my-3 h6" for="email"> {{'Your email' | translate}}
                </label>

                <input id="email" type="email" class="form-control form-control-lg" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    placeholder=" {{'Enter your email address' | translate}} ">

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <h3 class="text-danger" *ngIf="f.email.errors.required"> {{'Required' | translate}} </h3>
                    <h3 class="text-danger" *ngIf="f.email.errors.email"> {{'Email is not valid' | translate}}
                    </h3>
                    <h3 class="text-danger" *ngIf="f.email.errors.pattern"> {{'Email must be this (example@example.com)'
                        |
                        translate}}
                    </h3>
                </div>
            </div>
            
            <!-- <input type="text" class="form-control my-4 d-block" id="verify" type="email" required placeholder="Insert your Email here" autofocus
                formControlName="reset"  required> -->
            <button type="submit" class="btn btn-dark w-100 mt-3 mb-4 d-block">Reset</button>
        </form>

    </section>
</div>
</div>