<mat-tab-group class="bg-white">
    <mat-tab label="Description">
        <div class="p-4 p-lg-5">
            <h2 class="text-uppercase"> {{'Product description' | translate}} </h2>
            <p class="text-muted mb-0">
                {{data.description}}
            </p>
        </div>

    </mat-tab>
    <mat-tab label="Review">
        <div *ngIf="ReviewsLength > 0; else elseBlock">
            <div class="p-4 p-lg-5">
                <div class="row" *ngFor="let Review of Reviews">
                    <div class="col-lg-8">
                        <div class="media my-4 ms-3">
                            <img class="rounded-circle" src="../../../assets/images/users/{{Review.user_image}}" alt=""
                                width="50">
                            <div class="media-body my-3">
                                <h3><strong class="mb-0 text-uppercase">{{Review.User_name}}</strong></h3>
                                <p class="text-muted mb-0 text-uppercase">{{Review.created_at}}</p>
                                <ngb-rating [rate]="Review.rating" [readonly]="true" [max]="5" class="p-0 my-3"
                                    style="font-size: 1.5rem;">
                                </ngb-rating>
                                <p class="mb-0 text-muted">{{Review.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="row justify-content-center align-items-center w-100">
                <div class="w-25 h-25">
                    <img src="../../../assets/images/errors/no-review.png" style="width: 100%" alt="">
                    <h3 class="text-center">No Reviews Yet!</h3>
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>