<div class="product text-center">
    <div class="position-relative mb-3">

        <ng-container [ngSwitch]="true">
            <div class="badge text-bg-warning px-3 py-2 fa-1x" *ngSwitchCase="product.status === 'sale'">
                {{'Sale' | translate}}</div>
            <div class="badge text-bg-danger px-3 py-2 fa-1x" *ngSwitchCase="product.status === 'sold'">{{'Sold' | translate}}
            </div>
            <div class="badge text-bg-info px-3 py-2 fa-1x" *ngSwitchCase="product.status === 'new'">{{'New' | translate}}
            </div>
            <div *ngSwitchDefault></div>
        </ng-container>
        <a class="d-block" routerLink="../product-details/{{product.id}}">
            <img class="img-fluid w-100" src="{{product.image}}" alt="..."></a>

        <div class="product-overlay">
            <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" routerLink="#"><i
                            class="far fa-heart"></i></a></li>
                <li class="list-inline-item mx-2 p-0"><a class="btn btn-sm btn-dark" routerLink="cart.html"> {{'Add to cart' | translate}} </a></li>
            </ul>
        </div>
    </div>
    <h3> <a class="reset-anchor" routerLink="../product-details/{{product.id}}">{{product.title}}</a></h3>
    <h4> <a class="reset-anchor" routerLink="../product-details/{{product.id}}">{{product.category}}</a></h4>
    <p class="small text-muted fa-1x">{{product.price}}</p>
</div>