<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center h-100">
    <!-- HERO SECTION-->
    <section class="col-12 py-5 bg-light">
      <div class="row py-5 px-4 px-lg-5 align-items-center">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-uppercase mb-0">ORDERS</h1>
        </div>
        <div class="col-lg-6 col-md-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-end">
              <li class="breadcrumb-item">
                <a class="hero" routerLink="">Home</a>
              </li>
              <li class="breadcrumb-item text-muted" aria-current="page">
                ORDERS
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <section class="container-lg px-lg-4 my-3">
      <div class="container-lg px-lg-4 g-1 g-md-2">
        <div class="col-lg-8 pt-2">
          <div>
            <div class="d-flex">
              <h2 class="h5 text-uppercase mb-4">Orders</h2>
            </div>

            <div class="my-4">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Order Ref.</th>
                      <th>Total</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th class="col-2">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>$0</td>
                      <td>New order</td>
                      <td>16-8-2022</td>
                      <td class="text-right">
                        <button type="button" class="btn btn-success btn-sm">
                          <i class="fa fa-eye"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5">
                        <p class="text-center">No orders found.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="border rounded shadow p-4">
                <div class="table-responsive mb-4">
                  <table class="table">
                    <thead class="bg-light">
                      <tr>
                        <th class="border-0" scope="col">
                          <strong class="text-small text-uppercase"
                            >Product</strong
                          >
                        </th>
                        <th class="border-0" scope="col">
                          <strong class="text-small text-uppercase"
                            >Price</strong
                          >
                        </th>
                        <th class="border-0" scope="col">
                          <strong class="text-small text-uppercase"
                            >Quantity</strong
                          >
                        </th>
                        <th class="border-0" scope="col">
                          <strong class="text-small text-uppercase"
                            >Total</strong
                          >
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: end">
                          <strong>Subtotal</strong>
                        </td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: end">
                          <strong>Discount </strong>
                        </td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: end">
                          <strong>Tax</strong>
                        </td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: end">
                          <strong>Shipping</strong>
                        </td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: end">
                          <strong>Amount</strong>
                        </td>
                        <td>$0.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <h2 class="h5 text-uppercase">Transactions</h2>
                <div class="table-responsive mb-4">
                  <table class="table">
                    <thead class="bg-light">
                      <tr>
                        <th class="border-0" scope="col">
                          <strong class="text-small text-uppercase"
                            >Transaction</strong
                          >
                        </th>
                        <th class="border-0" scope="col">
                          <strong
                            class="text-small text-uppercase d-flex justify-content-end"
                            >Date</strong
                          >
                        </th>
                        <th class="border-0" scope="col"></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- SIDEBAR -->
          <div class="col-lg-4"></div>
        </div>
      </div>
    </section>
  </div>
</div>
