<div class="container py-5">
  <div class="row">
    <app-hero></app-hero>
  </div>
  <div class="row py-5" >
    <div class="col-3" >
      <div class="product text-center">
        <div class="position-relative mb-3">
            <!-- <ng-container >
                <div class="badge text-bg-warning px-3 py-2 fa-1x">
                    Sale</div>
                <div class="badge text-bg-danger px-3 py-2 fa-1x" >
                    Sold
                </div>
                <div class="badge text-bg-info px-3 py-2 fa-1x" >new
                </div>
                <div ></div>
            </ng-container> -->
            <a class="d-block" routerLink="Product-details.html">
                <img class="img-fluid" src="" alt="..."></a>

            <div class="product-overlay">
                <ul class="mb-0 list-inline">
                    <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" ><i class="fa-solid fa-heart"></i></a></li>
                    <li class="list-inline-item mx-2 p-0" >
                      <a class="btn btn-sm btn-dark" >Add to cart</a>
                    </li>


                </ul>
            </div>
        </div>
        <h3> <a class="reset-anchor" routerLink="product-details.html"></a></h3>
        <h4> <a class="reset-anchor" routerLink="product-details.html"></a></h4>
        <p class="small text-muted fa-1x"></p>
    </div>
    </div>
  </div>
</div>
