<!-- HERO SECTION-->
<!-- <section class="col-12 py-5 bg-light">
      <div class="row py-5 px-4 px-lg-5 align-items-center">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-uppercase mb-0">Addresses</h1>
        </div>
        <div class="col-lg-6 col-md-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-end">
              <li class="breadcrumb-item">
                <a class="hero" routerLink="">Home</a>
              </li>
              <li class="breadcrumb-item text-muted" aria-current="page">
                Addresses
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section> -->

<section class="my-5">
  <div class="d-flex justify-content-between">
    <h2 class="h5 text-uppercase mb-4">Addresses</h2>
    <div class="ml-auto">
      <button type="button" class="rounded shadow" id="addButton">
        Add new address
      </button>
    </div>
  </div>

  <form>
    <input type="hidden" wire:model="address_id" class="form-control" />

    <div class="row">
      <div class="col-lg-8 form-group my-3">
        <label class="text-small text-uppercase my-1" for="address_title"
          >Address title</label
        >
        <input
          class="form-control"
          wire:model="address_title"
          type="text"
          placeholder="Enter your address title"
        />
        <span class="text-danger"> </span>
      </div>
      <div class="col-lg-4 form-group">
        <label class="text-small text-uppercase my-1">&nbsp;</label>
        <div class="form-check mt-4">
          <input
            class="form-check-input"
            id="default_address"
            wire:model="default_address"
            type="checkbox"
          />
          <label class="form-check-label" for="default_address"
            >Default address?</label
          >
        </div>
      </div>
      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="first_name"
          >First name</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="first_name"
          type="text"
          placeholder="Enter your first name"
        />
        <span class="text-danger"> </span>
      </div>
      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="last_name"
          >Last name</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="last_name"
          type="text"
          placeholder="Enter your last name"
        />
        <span class="text-danger"> </span>
      </div>
      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="email"
          >Email address</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="email"
          type="email"
          placeholder="e.g. Jason@example.com"
        />
        <span class="text-danger"></span>
      </div>
      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="mobile"
          >Mobile number</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="mobile"
          type="tel"
          placeholder="e.g. 966512345678"
        />
        <span class="text-danger"></span>
      </div>

      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="address"
          >address</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="address"
          type="text"
          placeholder="Enter your first name"
        />
        <span class="text-danger"></span>
      </div>
      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="address2"
          >address2</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="address2"
          type="text"
          placeholder="Enter your last name"
        />
        <span class="text-danger"></span>
      </div>
      <div class="col-lg-4 form-group my-3">
        <label class="text-small text-uppercase my-1" for="country_id"
          >Country</label
        ><span class="text-danger p-1">*</span>
        <select class="form-control" wire:model="country_id">
          <option value="">Select Country</option>
          <option value="country">country</option>
        </select>
        <span class="text-danger"> </span>
      </div>
      <div class="col-lg-4 form-group my-3">
        <label class="text-small text-uppercase my-1" for="state_id"
          >State</label
        ><span class="text-danger p-1">*</span>
        <select class="form-control" wire:model="state_id">
          <option value="">Select State</option>
          <option value="state">state</option>
        </select>
        <span class="text-danger"></span>
      </div>
      <div class="col-lg-4 form-group my-3">
        <label class="text-small text-uppercase my-1" for="city_id">City</label
        ><span class="text-danger p-1">*</span>
        <select class="form-control" wire:model="city_id">
          <option value="">Select City</option>
          <option value="city">city</option>
        </select>
        <span class="text-danger"></span>
      </div>

      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="zip_code"
          >ZIP Code</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="zip_code"
          type="text"
          placeholder="Enter your first name"
        />
        <span class="text-danger"></span>
      </div>
      <div class="col-lg-6 form-group my-3">
        <label class="text-small text-uppercase my-1" for="po_box"
          >P.O.Box</label
        ><span class="text-danger p-1">*</span>
        <input
          class="form-control"
          wire:model="po_box"
          type="text"
          placeholder="Enter your last name"
        />
        <span class="text-danger"></span>
      </div>
      <div class="col-lg-12 form-group my-3">
        <button class="btn btn-dark" type="submit">Add Address</button>
      </div>
    </div>
  </form>

  <div class="my-4">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="h6">
            <th>Address title</th>
            <th>Default</th>
            <th class="col-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr> -->
          <tr>
            <td colspan="3">No addresses found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- SIDEBAR -->
  <div class="col-lg-4"></div>
</section>